<!doctype html>
<html>
    <head><title>CrunchData Information</title></head>
    <body>
        <a href="/companies">Companies Information</a><br>
        <a href="/products">Products Information</a><br>
        <form action="/organization" method="POST">
            <input name="company" type="search">Individual Company</input>
        </form>
        <form action="/product" method="POST">
            <input name="product" type="search">Individual Product</input>
        </form>
    </body>
</html>
