<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<body>
	<ul>
	{% for entity in entities %}
	<li id="{{ entity.name }}"><h2>{{ entity.name }}</h2>
		<!--<img src={{ entity.image }} alt="image of entity"></img>
      <p>{{ entity.description }}</p>-->
	  <img id="{{ entity.name }}_img" src="http://placehold.it/100x100" height=100 alt="{{ entity.name }} image"></img>
	</li>
    <script>
    $.getJSON("/entity/"+"{{ entity.endpoint }}", function(data) {
        console.log(data);
		$('#{{ entity.name }}_img').attr('src', data.image.replace('!',''));
		$('#{{ entity.name }}').append("<p>"+data["short_description"]+"</p>");
    });
    </script>
	{% else %}
	<li>For some reason, nothing  was loaded</li>
	{% endfor %}
	</ul>
</body>
