<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<body>
	<ul>
	{% for entity in entities %}
    <a href="{{ entity.endpoint }}"><li id="{{ entity.uuid }}"><h2>{{ entity.name }}</h2></a>
		<!--<img src={{ entity.image }} alt="image of entity"></img>
      <p>{{ entity.description }}</p>-->
	  <img id="{{ entity.uuid }}_img" src="http://placehold.it/100x100" height=100 alt="{{ entity.name }} image"></img>
	</li>
    <script>
    $.getJSON("/entity/"+"{{ entity.endpoint }}", function(data) {
        if(data.image){
            newsrc = data.image
        } else {
            newsrc = ""
        }
        $('#{{ entity.uuid }}_img').attr('src', newsrc);
		$('#{{ entity.uuid }}').append("<p>"+data["short_description"]+"</p>");
    });
    </script>
	{% else %}
	<li>For some reason, nothing  was loaded</li>
	{% endfor %}
	</ul>
</body>
